* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;

    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    border: solid 1px rgba(255, 255, 255, 255);

    border-radius: 0% 15px 15px 0%;

    padding-right: 5px;
}

button {
    border: none;
    border-radius: 50%;
    margin: 2px 0px 2px 2px;
}

#workspaces button {
    background-color: transparent;
    color: rgba(255, 255, 255, 255);
    font-weight: bold;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 255);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#network,
#pulseaudio {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent;
    color: rgba(255, 255, 255, 255);
}

#battery.charging, #battery.plugged {
    background-color: transparent;
    color: #FE6900;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(255, 255, 255, 0.75);
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#pulseaudio {
    background-color: transparent;
    color: rgba(255, 255, 255, 255);
}

#pulseaudio.muted {
    background-color: transparent;
    color: #2a5c45;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

